.popup {
  display: none;
  font-family: "Inter", "Arial", "sans-serif";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba (0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
}
