.input__text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 0 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.input__text::placeholder {
  color: black;
}

.input__text:focus {
  border: 3px solid blue;
}
