.popup__close {
  border: none;
  padding: 0;
  background-image: url(../../../images/Close\ Icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 736px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
