.profile-info {
  margin: 22px 0 25px 0;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: min-content min-content;
  column-gap: 18px;
  row-gap: 16px;
  align-items: baseline;
}
