.popup__container_image {
    max-width: 75vw;
    max-height: 75vh;
    padding: 0;
}

@media screen and (max-width: 736px) {
    .popup__container_image {
      max-width: 433px;
      min-height: 562px;
      
    }
  }