.element__bottom-like {
  min-height: 19px;
  min-width: 22px;
   background: url(../../../images/like.svg) center center / 100% no-repeat;
   cursor: pointer;
   border: none;
}

.element__bottom-like:hover {
  opacity: 0.5;
}
